/BeerSelection/BeerSelection/nbproject/private/
/BeerSelection/BeerSelection/build/
/BeerSelection_old/BeerSelection/build/
/BeerSelection_old/BeerSelection/nbproject/private/
/WorldTraveler/nbproject/private/
/WorldTraveler/build/
/WorldTraveler/dist/
/project/WorldTraveler/build/
/project/WorldTraveler/dist/
/project/WorldTraveler/nbproject/private/